
# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata
.checkstyle

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea

# ignore NetBeans files
nbactions.xml
nb-configuration.xml
catalog.xml
